<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ title }}</title>
	<meta charset="UTF-8">

	<link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/cabin" type="text/css"/>

	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
		  integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
		  crossorigin=""/>

	<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
			integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
			crossorigin=""></script>

	<script type='text/javascript'
			src='https://cdn.jsdelivr.net/gh/rizac/leaflet-poly-marker/polymarker.min.js'></script>

	<!-- Layout related style (necessary): -->
	<style type="text/css">
		body{
			padding: 15px;
			margin: 0px;
			width:100vw;
			height:100vh;
		}
	</style>
	<!-- appearance style (important, not necessary): -->
	<style>
		body{
			font-family: Ubuntu, CabinRegular, sans-serif !important;
			font-size: 16px;
			background-color: #EEE !important;
		}
		.leaflet-container {  /* leaflet should use my font */
			font: inherit;
		}
		#map{
			border: 1px solid #CCC;
		}
	</style>

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
		  rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
		  crossorigin="anonymous">

</head>

<body class="d-flex flex-row">
<div class="d-flex flex-column me-2">
	<div class="align-items-baseline text-nowrap">
		<span>Event:</span>
		<select class="mx-1">
		{%- for evt_id, ev_sta in event_data.items() -%}
			{% set event = ev_sta[0] %}
			{% set url = event[event_headers.index('url')] %}
			{% set eventId = url.split('=')[-1] %}
			<option onclick="showEvent({{ evt_id }})">{{ eventId }}</option>
		{%- endfor -%}
		</select>
		<a id='event-url' href="{{ evt_catalog_url }}" target="_blank">source QuakeML</a>
	</div>
	<div class='mt-2'>
		<table class='table table-striped'>
			{% for header in event_headers %}
			<tr style="{% if header in ['url', 'db_id'] %}display:none{% endif %}">
				<td>{{ header }}</td><td data-ev-index="{{ loop.index0 }}"></td>
			</tr>
			{% endfor %}
		</table>
	</div>
	<div style="flex: 1 1 0"></div>
	<div class="text-muted small">
		Note: an empty Me means that the value could not be computed<br>or
		resulted to be invalid (NaN, null or +-inf).
	</div>
</div>
<div class="d-flex flex-column" style="flex: 1 0 auto">
	<div id="map" class='d-flex' style='flex: 1 0 auto;'></div>
</div>

<div id='map-legend-template' style='display:none'>
	<table class='table table-sm mb-0'>
		<tr>
			<td style='color:seagreen'>&#9711;</td><td>Event</td>
		</tr>
		<tr>
			<td>&#9651;</td>
			<td>
				<div>Station(s)</div>
				<div class="text-muted small">(click on symbol for details)</div>
				<div>Station color:</div>
				<div class="d-flex flex-row align-items-baseline">
					<div class='me-2'>&Delta;Me:</div>
					<table style='flex: 1 1 0'>
						<tr>
							<td style="width:1rem;background-color: blue"></td>
							<td style="background: linear-gradient(to right, blue, white 50%, red);padding:.5rem;"></td>
							<td style="width:1rem;background-color: red"></td>
						</tr>
						<tr>
							<td class='text-end'>-1</td>
							<td class='text-center'>0</td>
							<td class='text-start'>1</td>
						</tr>
					</table>
				</div>
				<div class='text-muted small'>&Delta;Me = Me_station - Me</div>
			</td>
		</tr>
	</table>
</div>

<script type="text/javascript">

// Map related stuff:
// each element has: [event_lat, event_lon, event_mag, [[sta_lat, sta_lon, sta_code, sta_me, sta_dist_deg], ...]]:
var event_headers = {{ event_headers | tojson }};
var event_data = {{ event_data | tojson }};


var residualsFullScale = [-1, 1];  // REQUIREMENTS: first element <0, second element >0

// function converting an Me residual into a color in HTML string
function getColor(residual){
	if (residual == 0){
		return 'rgb(255, 255, 255)';
	}else if(residual > 0){  // red scale
		var maxRes = residualsFullScale[1];
		var value = Math.min(residual, maxRes) / maxRes;
		value = Math.round(255*value);
		return `rgb(255, ${255 - value}, ${255 - value})`;
	}else{  // blue scale
		var minRes = residualsFullScale[0];
		var value = Math.max(residual, minRes) / minRes;
		value = Math.round(255*value);
		return `rgb(${255 - value}, ${255 - value}, 255)`;
	}
}


// create the Leaflet map:
var map = L.map('map', {
	// worldCopyJump: true,
	zoom: 5,
	//minZoom:9,
	center: new L.latLng([50, 12]),
	layers: L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png'),
	layers: [
		L.tileLayer('https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}{r}.png', {
			attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors &copy; <a href="https://carto.com/attributions">CARTO</a>',
			subdomains: 'abcd',
			maxZoom: 19
		})
	]
});


// Create map legend (with color scale):
var legend = L.control({position: 'bottomleft'});
legend.onAdd = function (map) {
	var div = L.DomUtil.create('div', 'leaflet-control-layers p-2 small');
	div.innerHTML = document.getElementById('map-legend-template').innerHTML;
	return div;
};
legend.addTo(map);


function showEvent(eventId){
	var [event, stas] = event_data[eventId];
	var url = event[event_headers.indexOf('url')];
	document.getElementById('event-url').setAttribute('href', url);
	event.forEach((value, i) => {
		document.querySelector('td[data-ev-index="' + i + '"]').innerHTML = value;
	});
	updateMap(eventId);
}

// function updating the map on event selection
function updateMap(eventId){
	// get event info (quick and dirt, from table):
	var [event, stas] = event_data[eventId];

	var evLat = event[event_headers.indexOf('latitude')];
	var evLon = event[event_headers.indexOf('longitude')];

	// clear map:
	map.eachLayer(function (layer) {
		if (layer instanceof L.FeatureGroup){
			map.removeLayer(layer);
		}
	});

	// Display stations around event. This is a problem for longitues only because in
	// leaflet is kind of continuous (To see it, zoom out and scroll horizontally). Basically
	// shift station longitues of 360deg if they are more than 180 deg distant from the event
	// (solution inspired from a similar problem here: // https://stackoverflow.com/a/38824652)
	var adjustLng = lng => evLon - lng > 180 ? lng + 360 : (evLon - lng < -180 ? lng - 360 : lng) ;

	// repopulate map with new event and stations.
	// First put everything into a 'markers' Array:
	var SIZE = 12;
	var [minLng, maxLng] = [null, null];
	var markers = stas.map(function(element){
		var latLng = [element[0], adjustLng(element[1])];

		if ((minLng === null) || (minLng > latLng[1])){
			minLng = latLng[1];
		}
		if ((maxLng === null) || (maxLng < latLng[1])){
			maxLng = latLng[1];
		}

		var distDeg = element[4];
		var deltaMe = element[3];
		var options = {
			marker: '^',
			radius: SIZE,
			weight: 1,  // border width
			fillColor: getColor(deltaMe),
			fillOpacity: 1,
			color: '#666666',
			opacity: 1
		};
		if (typeof deltaMe === 'number'){  // might be null
			deltaMe = deltaMe.toFixed(3);
		}

		var popupContent = `<table><tr><td>Station</td><td><b>${element[2]}</b></td></tr><tr><td>&Delta; Me</td><td>${deltaMe}</td></tr><tr><td>Event distance</td><td>${distDeg}&deg;</td></tr></table>`;
		return L.polyMarker(latLng, options).bindPopup(popupContent);
	});

	// Add event (normal circle):
	var evtLatLng = L.latLng(evLat, evLon);
	markers.push(L.circleMarker(evtLatLng, {
		color: 'seagreen',
		opacity: 1,
		fillColor: 'white',
		fillOpacity: 1,
		weight: 1,  // border width
	}));

	// Create featuresGroup and add all markers we created to it. This way, it is easier
	// to clear the map by removing the group only (see the snippet above where we clear the map)
	var featureGroup = L.featureGroup(markers, {noWrap: true}).addTo(map);

	// center to event (not needed, zoom below is sufficient):
	// map.panTo(new L.LatLng(evLat, evLon));

	// zoom to markers for a better display:
	map.fitBounds(featureGroup.getBounds());
}

showEvent({{ selected_event_id }});
</script>
</body>
</html>